.top-line
	.container.cf
		.logo-block.fl
			.logo
			.copy © 2016 PharmLogistics. All rights reserved.
		.menu.fl
			ul
				li
					a(href="") Home
				li
					a(href="") Products
				li
					a(href="") Order
				li
					a(href="") Reports
				li
					a(href="") News blog
				li
					a(href="") FAQ
				li
					a(href="") Profile
				li
					a(href="") Contact
				li
					a(href="") Manual
		.digicert.fl
.bottom-line
	.container.cf
		.email.fl
			label E-mail:
			| pharmlogistics@com
		.skype.fl
			label Skype:
			| fjsglaglakd
		.icq.fl
			label ICQ:
			| 145269974
		a.blog.fl(href="https://blackpharma.ru/", target="_blank")
			span Affiliate blog