<div class="container content">
  <div class="breadcrumbs"><a routerLink="/">Home</a>
    <!--<a [routerLink]="['Products']" *ngIf="category._id">Products</a>--><span>{{'Products'}}</span></div>
  <finance></finance>
  <div class="content">
    <h1>{{'Products'}}</h1>
    <div class="products">
      <div class="cf">
        <div class="col-4" *ngFor="let product of products | async">
          <a class="product" [routerLink]="['/products', product._id]">
            <img [src]="product.image"/>
            <div class="status">{{product.details.category}}</div>
            <h1>{{product.title}}</h1>
            <div class="category" *ngIf="product.category">{{product.category.name}}</div>
            <button>more</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
