<div class="top-line">
  <div class="container cf">
    <div class="logo-block fl">
      <div class="logo"></div>
      <div class="copy">© 2016 PharmLogistics. All rights reserved.</div>
    </div>
    <div class="menu fl">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/orders">Order</a></li>
        <li><a routerLink="/reports">Reports</a></li>
        <li><a routerLink="/news">News blog</a></li>
        <li><a routerLink="/page/faq">FAQ</a></li>
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/page/contact">Contact</a></li>
        <li><a routerLink="/page/manual">Manual</a></li>
      </ul>
    </div>
    <div class="digicert fl"></div>
  </div>
</div>
<div class="bottom-line">
  <div class="container cf">
    <div class="email fl">
      <label>E-mail:</label>pharmlogistics@com
    </div>
    <div class="skype fl">
      <label>Skype:</label>fjsglaglakd
    </div>
    <div class="icq fl">
      <label>ICQ:</label>145269974
    </div>
    <a class="blog fl" href="https://blackpharma.ru/" target="_blank"> <span>Affiliate blog</span></a>
  </div>
</div>
