<div class="top-line">
  <div class="container cf"><a class="logo fl" routerLink="/reports"></a>
    <div class="menu fl">
      <ul>
        <li><a routerLink="/reports">Reports</a></li>
        <li><a routerLink="/categories">Categories</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/users">Users</a></li>
        <li><a routerLink="/pages">Pages</a></li>
        <li><a routerLink="/news">News</a></li>
      </ul>
    </div>
    <div class="profile fl">
      <div class="block fl"><a (click)="logout($event)" href="#">Log out</a>
        <div class="id">My ID:</div>
      </div>
      <div class="block fl"><a href="">admin</a>
        <div class="id">123</div>
      </div>
    </div>
  </div>
</div>
