<div class="container">
  <div class="banners cf"><a class="left-banner fl" href=""><img src="/client/assets/img/banners/left.jpg"/></a>
    <!--slider-->
    <div class="fl"><img src="/client/assets/img/slider/1.jpg"/>
      <h3>
        <p>Privilege card and</p>
        <p>your print ad inside parcel</p>
      </h3>
    </div>
    <!---->
    <a class="right-banner fl" href="">
      <img src="/client/assets/img/banners/right-1.jpg"/>
    </a>
    <a class="right-banner fl" href="">
      <img src="/client/assets/img/banners/right-2.jpg"/>
    </a>
  </div>
  <div class="categories cf">
    <h2>Categories</h2><a class="category fl"><img src="/client/assets/img/categories/1.jpg"/>
    <h3>Men’s sexual health</h3></a><a class="category fl"><img src="/client/assets/img/categories/2.jpg"/>
    <h3>Hepatitis treatment</h3></a><a class="category fl"><img src="/client/assets/img/categories/3.jpg"/>
    <h3>Smoking cessation</h3></a><a class="category fl"><img src="/client/assets/img/categories/4.jpg"/>
    <h3>Natural products</h3></a><a class="category fl"><img src="/client/assets/img/categories/5.jpg"/>
    <h3>Women’s sexual health</h3></a><a class="category fl"><img src="/client/assets/img/categories/6.jpg"/>
    <h3>Gel, lubricant, cosmetics</h3></a>
  </div>
</div>
