<div class="container content">
  <div class="breadcrumbs"><a [routerLink]="['/']">Home</a><a [routerLink]="['/products']">Products</a><span>{{product.title}}</span>
  </div>
  <finance></finance>
  <div class="content">
    <h1>{{product.title}}</h1>
    <div class="main">
      <div class="cf">
        <div class="info fl"><img [src]="product.image" alt=""/>
          <div class="table">
            <div class="tr">
              <div class="th">Brandname</div>
              <div class="tc">{{product.brand.title}}</div>
            </div>
            <div class="tr">
              <div class="th">Manufacturer</div>
              <div class="tc">{{product.manufacturer.title}}</div>
            </div>
            <div class="tr">
              <div class="th">Form</div>
              <div class="tc">{{product.details.form}}</div>
            </div>
            <div class="tr">
              <div class="th">Active substance</div>
              <div class="tc">{{product.details.activeSubstance}}</div>
            </div>
            <div class="tr">
              <div class="th">Dosage</div>
              <div class="tc">{{product.details.dosage}}</div>
            </div>
            <div class="tr">
              <div class="th">Packaging</div>
              <div class="tc">{{product.details.packaging}}</div>
            </div>
            <div class="tr">
              <div class="th">Price per pill</div>
              <div class="tc">{{product.details.pricePerPill}}</div>
            </div>
          </div>
        </div>
        <div class="logo fr"><img [src]="product.brand.image" alt=""/>
          <div class="status" [ngClass]="product.details.category">{{product.details.category}}</div>
        </div>
        <div class="text">{{product.description}}</div>
      </div>
      <div class="promo">
        <h3>Promotional materials</h3>
        <ul>
          <li class="photos"><a href="" target="_blank">Photos</a></li>
          <li class="logos"><a href="" target="_blank">Logos</a></li>
          <li class="leaflets"><a href="" target="_blank">Package leaflets</a></li>
          <li class="miniature"><a href="" target="_blank">Miniature picture</a></li>
          <li class="texts"><a href="" target="_blank">Texts for shop</a></li>
          <li class="other"><a href="" target="_blank">Other</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
