<div class="report cf">
  <div class="dropdown fl">
    <label>Report period</label>
  </div>
  <div class="radio-block fl">
    <div class="input-group">
      <input type="radio" id="today" value="today" name="period" (click)="selectPeriod('today')" [checked]="period==='today'"/>
      <label for="today">Today</label>
    </div>
    <div class="input-group">
      <input type="radio" id="yesterday" value="yesterday" name="period" (click)="selectPeriod('yesterday')" [checked]="period==='yesterday'"/>
      <label for="yesterday">Yesterday</label>
    </div>
  </div>
  <div class="radio-block fl">
    <div class="input-group">
      <input type="radio" id="week" value="week" name="period" (click)="selectPeriod('week')" [checked]="period==='week'"/>
      <label for="week">Last week</label>
    </div>
    <div class="input-group">
      <input type="radio" id="period" value="period" name="period" (click)="selectPeriod('period')" [checked]="period==='period'"/>
      <label for="period">Period</label>
    </div>
  </div>
  <div class="calendar fl ml">
    <label class="fl" for="">From</label>
    <calendar class="fl" [(ngModel)]="model.from" (ngModelChange)="onCalendarChange()"></calendar>
  </div>
  <div class="calendar fl">
    <label class="fl" for="">To</label>
    <calendar class="fl" [(ngModel)]="model.to" (ngModelChange)="onCalendarChange()"></calendar>
  </div>
  <button class="fl" (click)="onGenerate()">Generate report</button>
</div>
