
<div class="container content">
  <div class="breadcrumbs"><a href="">Home</a><span>Contact</span></div>
  <div class="content">
    <h1>Contact</h1>
    <popup [message]="'Your message successfully sent'" *ngIf="showPopup"></popup>
    <form class="main contact" #contactForm="ngForm" (ngSubmit)="send()" *ngIf="active">If you have any questions not addressed in our FAQ page, please contact us using the form below.
      <div class="important">* marked fields are required</div>
      <div class="cf">
        <div class="input-group fl">
          <label>What is this about? *</label>
          <select [(ngModel)]="message.subject" ngControl="subject" required="required">
            <option value="">Please select a subject</option>
            <option value="Test">Test</option>
          </select>
          <div class="message">Please select a subject</div>
        </div>
        <div class="input-group fl">
          <label>Your Email *</label>
          <input type="email" [(ngModel)]="message.email" ngControl="email" required="required"/>
          <div class="message">Please enter a valid email</div>
        </div>
      </div>
      <div class="input-group">
        <label>Your message *</label>
        <textarea [(ngModel)]="message.text" ngControl="text" required="required"></textarea>
        <div class="message">Please enter your message</div>
      </div>
      <div class="input-group">
        <label>Home phone (optional)</label>
        <input type="text" [(ngModel)]="message.phone" ngControl="phone"/>
      </div>
      <button class="send" type="submit" [disabled]="!contactForm.form.valid">Send</button>
    </form>
  </div>
</div>