
<div class="top-line">
  <div class="container cf">
    <div class="logo-block fl">
      <div class="logo"></div>
      <div class="copy">© 2016 PharmLogistics. All rights reserved.</div>
    </div>
    <div class="menu fl">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">Order</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">News blog</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Manual</a></li>
      </ul>
    </div>
    <div class="digicert fl"></div>
  </div>
</div>
<div class="bottom-line">
  <div class="container cf">
    <div class="email fl">
      <label>E-mail:</label>pharmlogistics@com
    </div>
    <div class="skype fl">
      <label>Skype:</label>fjsglaglakd
    </div>
    <div class="icq fl">
      <label>ICQ:</label>145269974
    </div><a class="blog fl" href="https://blackpharma.ru/" target="_blank"> <span>Affiliate blog</span></a>
  </div>
</div>