
<div class="top-line">
  <div class="container cf"><a class="logo fl" [routerLink]="['Main']"></a>
    <div class="menu fr">
      <ul class="fl">
        <li><a [routerLink]="['Main']">Home</a></li>
        <li><a [routerLink]="['Products']">Products</a>
          <ul>
            <li *ngFor="let category of categories"><a [routerLink]="['Category', {id: category._id}]">{{category.name}}</a>
              <ul>
                <li *ngFor="let product of category.products"><a [routerLink]="['Product', {id: product._id}]">{{product.name}}</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a [routerLink]="['NewOrder']">Order</a></li>
        <li><a [routerLink]="['Report']">Reports</a></li>
        <li><a [routerLink]="['News']">News blog</a></li>
        <li><a [routerLink]="['Faq']">FAQ</a></li>
        <li><a [routerLink]="['Profile']">Profile</a></li>
        <li><a [routerLink]="['Contact']">Contact</a></li>
        <li><a [routerLink]="['Page', {page: 'manual'}]">Manual</a></li>
      </ul>
      <div class="lang fl">
        <div class="arrow fr"></div>
        <div class="eng fl">Eng</div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-line">
  <div class="container cf">
    <div class="calendar fl">{{date| date:'dd MMMM, yyyy'}}</div>
    <div class="time fl">Server <span>{{date| date:'HH:mm:ss'}}</span></div>
    <div class="time fl">USA (PST)<span>{{pst| date:'HH:mm:ss'}}</span></div>
    <div class="time fl">USA (EST)<span>{{est| date:'HH:mm:ss'}}</span></div>
    <div class="time fl">Europe (Gmt)<span>{{gmt| date:'HH:mm:ss'}}</span></div>
    <div class="finance fl">
      <div class="stats fl">
        <div class="dep">Deposit: <b>${{user.deposit}}</b></div>
        <div class="cred">Credit: <b>${{user.credit}}</b></div>
      </div>
      <div class="credit fl">Status of credit line: 
        <div [ngClass]="{'yes' : user.creditLine, 'no' : !user.creditLine}">{{user.creditLine ? 'Yes' : 'No'}}</div>
      </div>
    </div>
    <div class="charity fl" [routerLink]="['Page', {page: 'children'}]">
      <div class="text fl">Support of children deprived of care!</div><a class="heart fl" href="">Join us</a>
    </div>
    <div class="profile fl">
      <div class="block fl"><a (click)="logout()" href="#">Log out</a>
        <div class="id">My ID:</div>
      </div>
      <div class="block fl"><a [routerLink]="['Profile']">{{user.nickname}}</a>
        <div class="id">{{user._id}}</div>
      </div>
    </div>
  </div>
</div>