
<div class="container">
  <div class="banners cf"><a class="left-banner fl" href=""><img src="/img/banners/left.jpg"/></a>
    <slider class="fl"><img src="/img/slider/1.jpg"/>
      <h3> 
        <p>Privilege card and</p>
        <p>your print ad inside parcel</p>
      </h3>
    </slider><a class="right-banner fl" href=""><img src="/img/banners/right-1.jpg"/></a><a class="right-banner fl" href=""><img src="/img/banners/right-2.jpg"/></a>
  </div>
  <div class="categories cf">
    <h2>Categories</h2><a class="category fl" [routerLink]="['Category', {id: getID('Men’s sexual health')}]"><img src="/img/categories/1.jpg"/>
      <h3>Men’s sexual health</h3></a><a class="category fl" [routerLink]="['Category', {id: getID('Hepatitis treatment')}]"><img src="/img/categories/2.jpg"/>
      <h3>Hepatitis treatment</h3></a><a class="category fl" [routerLink]="['Category', {id: getID('Smoking cessation')}]"><img src="/img/categories/3.jpg"/>
      <h3>Smoking cessation</h3></a><a class="category fl" [routerLink]="['Category', {id: getID('Natural products')}]"><img src="/img/categories/4.jpg"/>
      <h3>Natural products</h3></a><a class="category fl" [routerLink]="['Category', {id: getID('Women’s sexual health')}]"><img src="/img/categories/5.jpg"/>
      <h3>Women’s sexual health</h3></a><a class="category fl" [routerLink]="['Category', {id: getID('Gel, lubricant, cosmetics')}]"><img src="/img/categories/6.jpg"/>
      <h3>Gel, lubricant, cosmetics</h3></a>
  </div>
</div>