.container
	.banners.cf
		a.left-banner.fl(href="")
			img(src="/img/banners/left.jpg")
		slider.fl
			img(src="/img/slider/1.jpg")
			h3 
				p Privilege card and
				p your print ad inside parcel
		a.right-banner.fl(href="")
			img(src="/img/banners/right-1.jpg")
		a.right-banner.fl(href="")
			img(src="/img/banners/right-2.jpg")
	.categories.cf
		h2 Categories
		a.category.fl([routerLink]="['Category', {id: getID('Men’s sexual health')}]")
			img(src="/img/categories/1.jpg")
			h3 Men’s sexual health
		a.category.fl([routerLink]="['Category', {id: getID('Hepatitis treatment')}]")
			img(src="/img/categories/2.jpg")
			h3 Hepatitis treatment
		a.category.fl([routerLink]="['Category', {id: getID('Smoking cessation')}]")
			img(src="/img/categories/3.jpg")
			h3 Smoking cessation
		a.category.fl([routerLink]="['Category', {id: getID('Natural products')}]")
			img(src="/img/categories/4.jpg")
			h3 Natural products
		a.category.fl([routerLink]="['Category', {id: getID('Women’s sexual health')}]")
			img(src="/img/categories/5.jpg")
			h3 Women’s sexual health
		a.category.fl([routerLink]="['Category', {id: getID('Gel, lubricant, cosmetics')}]")
			img(src="/img/categories/6.jpg")
			h3 Gel, lubricant, cosmetics