<div class="container content">
  <div class="breadcrumbs"><a href="">Home</a><span>New Product</span></div>
  <div class="content">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
      <h1>
        <input type="text" name="name" [(ngModel)]="product.title" required="required" placeholder="Enter name"/>
      </h1>
      <div class="main">
        <div class="cf">
          <div class="info fl"><img [src]="product.image" *ngIf="product.image"/>
            <div class="upload" *ngIf="!product.image">
              <input id="productImg" type="file" (change)="upload($event, 'image')"/>
              <label for="productImg">Product Image</label>
            </div>
            <div class="cf auto" *ngIf="product.image">
              <div class="upload fl">
                <input id="newProductImg" type="file" (change)="upload($event, 'image')"/>
                <label for="newProductImg">Upload new</label>
              </div>
              <button class="fl" type="button" (click)="product.image = null">Remove</button>
            </div>
            <div class="table">
              <div class="tr">
                <div class="th">Brandname</div>
                <div class="tc">
                  <input type="text" name="brand.title" [(ngModel)]="product.brand.title" required="required"
                         placeholder="Enter brandname"/>
                </div>
              </div>
              <div class="tr">
                <div class="th">Manufacturer</div>
                <div class="tc">
                  <input type="text" name="manufacturer.title" [(ngModel)]="product.manufacturer.title" required="required"
                         placeholder="Enter manufacturer"/>
                </div>
              </div>
              <div class="tr">
                <div class="th">Form</div>
                <div class="tc">
                  <input type="text" name="details.form" [(ngModel)]="product.details.form" required="required" placeholder="Enter form"/>
                </div>
              </div>
              <div class="tr">
                <div class="th">Active substance</div>
                <div class="tc">
                  <input type="text" name="details.activeSubstance" [(ngModel)]="product.details.activeSubstance" required="required"
                         placeholder="Enter active substance"/>
                </div>
              </div>
              <div class="tr">
                <div class="th">Dosage</div>
                <div class="tc">
                  <input type="text" name="details.dosage" [(ngModel)]="product.details.dosage" required="required"
                         placeholder="Enter dosage"/>
                </div>
              </div>
              <div class="tr">
                <div class="th">Packaging</div>
                <div class="tc">
                  <input type="text" name="details.packaging"[(ngModel)]="product.details.packaging" required="required"
                         placeholder="Enter packaging"/>
                </div>
              </div>
              <div class="tr">
                <div class="th">Price per pill</div>
                <div class="tc">
                  <input type="number" name="details.pricePerPill" [(ngModel)]="product.details.pricePerPill" required="required"
                         placeholder="Enter price per pill"/>
                </div>
              </div>
            </div>
          </div>
          <div class="logo fr"><img alt="" [src]="product.brand.image" *ngIf="product.brand.image"/>
            <div class="upload" *ngIf="!product.brand.image">
              <input id="brandImg" type="file" (change)="upload($event, 'brand.image')"/>
              <label for="brandImg">Brand Image</label>
            </div>
            <div class="cf auto" *ngIf="product.brand.image">
              <div class="upload fl">
                <input id="newBrandImg" type="file" (change)="upload($event, 'brand.image')"/>
                <label for="newBrandImg">Upload new</label>
              </div>
              <button class="fl" type="button" (click)="product.brand.image = null">Remove</button>
            </div>
            <div class="status">
              <select name="details.category" [(ngModel)]="product.details.category" required="required">
                <option value="standart">Standart</option>
                <option value="premium">Premium</option>
                <option value="deluxe">Deluxe</option>
              </select>
            </div>
            <select class="category" name="category" [(ngModel)]="product.category">
              <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
            </select>
            <button class="save" type="submit">Save</button>
          </div>
          <div class="text">
            <textarea name="description" [(ngModel)]="product.description" required="required"></textarea>
          </div>
        </div>
        <div class="promo">
          <h3>Promotional materials</h3>
          <ul>
            <li class="photos">
              <input id="photos" type="file" (change)="upload($event, 'promo.photos')"/>
              <label for="photos">Photos</label>
              <button (click)="product.promo.photos = null" *ngIf="product.promo.photos">Remove</button>
            </li>
            <li class="logos">
              <input id="logos" type="file" (change)="upload($event, 'promo.logos')"/>
              <label for="logos">Logos</label>
              <button (click)="product.promo.logos = null" *ngIf="product.promo.logos">Remove</button>
            </li>
            <li class="leaflets">
              <input id="leaflets" type="file" (change)="upload($event, 'promo.leaflets')"/>
              <label for="leaflets">Package leaflets</label>
              <button (click)="product.promo.leaflets = null" *ngIf="product.promo.leaflets">Remove</button>
            </li>
            <li class="miniature">
              <input id="miniature" type="file" (change)="upload($event, 'promo.miniature')"/>
              <label for="miniature">Miniature picture</label>
              <button (click)="product.promo.miniature = null" *ngIf="product.promo.miniature">Remove</button>
            </li>
            <li class="texts">
              <input id="texts" type="file" (change)="upload($event, 'promo.texts')"/>
              <label for="texts">Texts for shop</label>
              <button (click)="product.promo.texts = null" *ngIf="product.promo.texts">Remove</button>
            </li>
            <li class="other">
              <input id="other" type="file" (change)="upload($event, 'promo.other')"/>
              <label for="other">Other</label>
              <button (click)="product.promo.other = null" *ngIf="product.promo.other">Remove</button>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
